.top {
	background: url(../img/topbg.png) repeat;
}

.jumbo { 
	text-align: center;
	h1 {color:@grayDarker}
	border-bottom: 1px solid #c0b9c4;
	color:@grayDarker;
	p {
		line-height:24px;
		font-size:22px;
		font-weight:300;
	}
}

.navbar {
	height: 55px;
}

hr {
margin: 20px 0;
border: 0;
border-top: 1px solid #9184bd;
border-bottom: 1px solid #eceaef;
}

.topcta {
	width: 70px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-top:10px;
}

.navbar .nav > li {
margin-top: 25px;
}

.navlast {
	padding-right:0 !important;
}

.nav > li > a {
font-size: 16px;
}

.socialDivide {
	height: 30px;
	#gradient > .vertical(@white, #F0F0F0);
	border-bottom: solid 1px #c0b9c4;
}

.content {
	min-height: 300px;
	background: url(../img/contentbg.png) repeat;
}