.top {
	background: url(../img/topbg.png) repeat;
}

.jumbo { 
	text-align: center;
	h1 {color:@grayDarker}
	border-bottom: 1px solid #c0b9c4;
	color:@grayDarker;
	p {
		line-height:24px;
		font-size:22px;
		font-weight:300;
	}
}

.navbar {
	height: 55px;
}

hr {
margin: 20px 0;
border: 0;
border-top: 1px solid #9184bd;
border-bottom: 1px solid #eceaef;
}

.topcta {
	width: 70px;
	margin: 10px 10px 20px 10px;
}

.navbar .nav > li {
margin-top: 25px;
}

.navlast {
	padding-right:0 !important;
}

.nav > li > a {
font-size: 16px;
}

.socialDivide {
	height: 30px;
	#gradient > .vertical(@white, #F0F0F0);
	border-bottom: solid 1px #c0b9c4;
}

.content {
	min-height: 300px;
	background: url(../img/contentbg.png) repeat;
}

.hot {
	text-align:center;
	margin-top: 20px;
	line-height: 5px;
}

.featureditem {
	text-align: left;
	width: 220px;
	height: 250px;
	background: @white;
	float:left;
	margin: 0 6px 50px 6px;
	border: solid 1px #cbcbcb;
	.border-radius(2px);
	.box-shadow(0 1px 3px rgba(0,0,0,.10)) !important;
	padding: 2px 2px 5px 2px;

}
.btn-primary {
  .buttonBackground(@btnPrimaryBackground, @btnPrimaryBackground);
  border: 1px solid #645691 !important;
  &:hover {
    color: @grayDark;
    text-decoration: none;
    background-position: 0 -100px;
  .buttonBackground(@btnPrimaryBackgroundHighlight, @btnPrimaryBackgroundHighlight);

    // transition is only when going to hover, otherwise the background
    // behind the gradient (there for IE<=9 fallback) gets mismatched
    .transition(background-color .1s);
  }
}

.btn-info {
  .buttonBackground(@btnInfoBackground, @btnInfoBackground);
  border: 1px solid #b84842;
  &:hover {
    color: @grayDark;
    text-decoration: none;
    background-position: 0 -100px;
  .buttonBackground(@btnInfoBackgroundHighlight, @btnInfoBackgroundHighlight);

    // transition is only when going to hover, otherwise the background
    // behind the gradient (there for IE<=9 fallback) gets mismatched
    .transition(background-color .1s);
  }
}

.last {
	margin-right:0;
}

.first {
	margin-left:0;
}

.hotfeaturedtext {
	margin: 8px 6px 5px 6px;
	font-size: 12px;
	line-height: 17px;
	color: @gray;
	strong {color: @black;}
	hr {
		margin: 10px 0;
		border: 0;
		border-top: 1px solid #d9d9d9;
	}
}

.hotfeatured {
	margin-top: 30px;
}

.bs-docs-social-buttons {
text-align: center;
margin-left: 0;
margin-bottom: 0;
padding-left: 0;
list-style: none;
}

